group Main
source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0
condition: testprop

nuget StackExchange.Redis


group NET6
source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0
condition: testprop

# not even changing anything really
nuget StackExchange.Redis
